@model List<StoreShop.Data.StoreModel>

<div class="font-weight-bold">Records: <span class="text-info"> @Model.Count()</span></div>
<div class="overflow-auto " style="max-height:200px;min-height:200px;">

    <table class="table table-bordered table-striped table-hover" style="max-height:200px;">
        <tr>
            <th>Store Name</th>
            <th>Store Location</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.StoreName</td>
                    <td>@item.Address.AddressText </td>
                    <td>
                        <a href="javascript:void(0)" title="Edit" onclick="showStoreWindow(@item.StoreId)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
                    </td>
                    <td>
                        <a href="javascript:void(0)" title="Delete" onclick="deleteStore(@item.StoreId)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        }
    </table>
</div>