@model StoreShop.Data.UserModel

<script>
    $(function () {
        $("#btnSaveUser").click(saveUser);
    })
</script>

<!----- ------------------------------------------Modal body--------------------------------------->
@Html.HiddenFor(m => m.UserId)
<div class=" form-group row">
    <label class="col-lg-5">User Name<span style="color:red">*</span>:</label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @required = "true" })
        <span style="color:red"> @Html.ValidationMessageFor(m => m.UserName)</span>
    </div>
</div>

<div class=" form-group row">
    <label class="col-lg-5">First Name<span style="color:red">*</span>:</label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @required = "true" })
        <span style="color:red"> @Html.ValidationMessageFor(m => m.FirstName)</span>
    </div>
</div>

<div class=" form-group row">
    <label class="col-lg-5">Last Name<span style="color:red">*</span>:</label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @required = "true" })
        <span style="color:red"> @Html.ValidationMessageFor(m => m.LastName)</span>
    </div>
</div>

<div class=" form-group row">
    <label class="col-lg-5">Phone No.<span style="color:red">*</span>:</label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.CellNo, new { @class = "form-control", @required = "true" })
        <span style="color:red"> @Html.ValidationMessageFor(m => m.CellNo)</span>
    </div>
</div>

<div class=" form-group row">
    <label class="col-lg-5">Password<span style="color:red">*</span>:</label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @required = "true", @type = "password" })
        <span style="color:red"> @Html.ValidationMessageFor(m => m.UserName)</span>
    </div>
</div>

<!-----------------------------------------Modal Footer-------------------------------------->
<div class="modal-footer">
    <span id="spnValidationMesage" style="color:red"></span>
    <button type="submit" class="btn btn-primary" id="btnSaveUser">Save</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>




