@model List<StoreShop.Data.UserModel>

<div class="font-weight-bold">Records: <span class="text-info"> @Model.Count()</span></div>
<div class="overflow-auto " style="max-height:200px; min-height:200px;">
    <table id="tblUserDetsils" class="table table-bordered table-striped  table-hover">
        <tr>
            <th>User Name</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.FirstName  @item.LastName</td>
                    <td>
                        <a href="javascript:void(0)" title="Edit" onclick="showUserWindow(@item.UserId)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        <a href="javascript:void(0)" title="Delete" onclick="showUserWindow(@item.UserId)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        }

    </table>
</div>